{% extends 'base/base.html' %}
{% block title %}Review SBU{% endblock %}
{% block content %}
 <div class="jumbotron jumbotron-fluid">
 	<style>
 		div{
 			<!-- background-color: #BDB76B;-->
 		}
 	</style>
        <div class="container">
        	<style> 
        		h1{
        			font-size: 70px;
        			font-family: Palatino;
        			color: #B22222;
        			
        			background-color: #696969;
        		}
        	</style>

            <h1 class="display-3">SBU Dining</h1>

            <div class="d-flex flex-row">
            	

            
  <div class="p-2" style="font-size: 35px"> <a href="Breakfast"> Breakfast </a></div>
  <div class="p-2" style = "font-size: 35px"> <a href="Lunch">Lunch</a></div>
  <div class="p-2" style = "font-size: 35px" > <a href = "Dinner">Dinner</a></div>
  <div class="p-2" style = "font-size: 35px"> <a href= "More" > More </a></div>
</div>


            <p></p>



        </div>
    </div>
{% endblock %}